<div class="container p-4 mx-auto">
  <div class="grid grid-cols-3 gap-4">
    <div class="col-span-3 p-4 bg-white rounded shadow-lg">
      <h2 class="mb-4 text-xl font-bold">Lista de Productos</h2>
      <div class="grid grid-cols-3 gap-2 mb-6">
        <!-- Producto 1 -->
        <div class="p-4 text-center bg-gray-100 rounded">
          <p>Código del Producto</p>
          <p class="text-lg font-bold">Nombre del Producto</p>
          <p>Imagen del Producto</p>
          <p>Estado del Stock</p>
          <p>Precio del Producto</p>
        </div>
        <!-- Producto 2 -->
        <!-- Producto 3 -->
        <!-- ... -->
      </div>
    </div>
  </div>
</div>
